### Первое задание

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('trekking1.xlsx', index_col = 0)

In [3]:
df.head(5)

                                   ККал на 100  Б на 100  Ж на 100  У на 100
Сухофрукты                               548.0      12.8      40.8      32.4
Каша Быстров                             334.0       8.6       4.8      64.0
Балык "Королевский"                      170.0      25.0       8.0       NaN
Колбаса с/к "Еврейская полусухая"        481.0      19.0      45.0       NaN
Суп гороховый с копченостями             390.0      16.0      11.0      52.0

In [4]:
new_list = []

In [5]:
for i in range (len(df.index)):
    new_food = (df.index[i], df.iloc[i][0])
    new_list.append(new_food)

In [6]:
right_order = sorted(new_list, key = lambda item: (-item[1], item[0]))

In [7]:
right_order

[('Шоколад молочный какао', 601.0),
 ('Шоколад молочный миндаль', 574.0),
 ('Сухофрукты', 548.0),
 ('Омлет с копченостями галагала', 544.0),
 ('Свинина сублимрованная', 543.0),
 ('Шоколад ремесленный', 540.0),
 ('Козинак подсолнечный', 530.0),
 ('Омлет с грибами галагала', 526.0),
 ('Козинак арахисовый', 520.0),
 ('Хлебцы льняные "Тайские"', 507.0),
 ('Колбаса с/к "Еврейская полусухая"', 481.0),
 ('Говядина сублимрованная', 474.0),
 ('Сухарики ржаные с семечками', 451.0),
 ('Хлебцы льняные Морские', 436.5),
 ('Суп говяжий с картофелем галагала', 390.0),
 ('Суп гороховый с копченостями', 390.0),
 ('Суп гороховый с копченостями галагала', 390.0),
 ('Суп куриный с картофелем галагала', 390.0),
 ('Суп-гуляш галагала', 382.0),
 ('Суп-харчо "Острый"', 370.0),
 ('Сыр Маасдам', 370.0),
 ('Сыр Чеддер', 369.0),
 ('Борщ Московский Галагала', 360.0),
 ('Крупа гречневая', 360.0),
 ('Рис пропаренный Увелка', 350.0),
 ('Свинина Кронидов', 349.0),
 ('Сухарики ржаные Finn Crisp', 347.0),
 ('Капеллини Макфа', 344.0),
 ('Сыр Гауда', 338.0),
 ('Кус Кус', 336.0),
 ('Каша Быстров', 334.0),
 ('Картофель сушеный', 333.0),
 ('Говядина Кронидов', 213.0),
 ('Хлебцы с чесноком и луком', 212.0),
 ('Суп томатный с рисом', 205.5),
 ('Балык "Королевский"', 170.0),
 ('Паутина', 12.0)]

### Второе задание

In [104]:
df_raskladka = pd.read_excel('trekking2.xlsx', sheet_name="Раскладка", index_col = 0)
df_list = pd.read_excel('trekking2.xlsx', index_col = 0)

In [105]:
df_raskladka.head(3)

                          Вес в граммах
Продукт
Омлет с грибами галагала             60
Сыр Маасдам                          80
Хлебцы льняные Морские               55

In [106]:
df_list = df_list.fillna(0)
additional_list = [str(i) for i in df_raskladka.index]
df_raskladka = df_raskladka[~df_raskladka.index.duplicated()] #drop_duplicates убирает все дубликаты почкму-то???

In [107]:
catalog = {}
for i in range (len(df_list.index)):
    info = {df_list.index[i]: [df_list.iloc[i][0],df_list.iloc[i][1],df_list.iloc[i][2],
                               df_list.iloc[i][3]]}
    catalog.update(info)

In [108]:
value_of_products = [0,0,0,0]

In [109]:
for i in additional_list:
    a = catalog[i]
    for b in range(4):
        value_of_products[b] += (a[b]/100) * df_raskladka.loc[i]['Вес в граммах']

In [110]:
value_of_products

[4963.849999999999, 203.16999999999996, 307.4, 302.15000000000003]

In [111]:
final = [int(i) for i in value_of_products]
print(final)

[4963, 203, 307, 302]

### Третье задание

In [213]:
df_raskladka = pd.read_excel('trekking3.xlsx', sheet_name="Раскладка", index_col = 1)
df_list = pd.read_excel('trekking3.xlsx', index_col = 0)

In [214]:
df_list = df_list.fillna(0)

In [215]:
df_list.head(3)

                     ККал на 100  Б на 100  Ж на 100  У на 100
Сухофрукты                 548.0      12.8      40.8      32.4
Каша Быстров               334.0       8.6       4.8      64.0
Балык "Королевский"        170.0      25.0       8.0       0.0

In [216]:
df_raskladka.head(3)

                          День  Вес в граммах
Продукт
Рис пропаренный Увелка       1            160
Свинина Кронидов             1            250
Хлебцы льняные "Тайские"     1            110

In [217]:
catalog = {}
for i in range (len(df_list.index)):
    info = {df_list.index[i]: [df_list.iloc[i][0],df_list.iloc[i][1],df_list.iloc[i][2],
                               df_list.iloc[i][3]]}
    catalog.update(info)

In [229]:
values_by_days = []
for i in range (1,10):
    new_df = df_raskladka.query(f' День == {i}')
    new_df = new_df.groupby('Продукт').aggregate({'Вес в граммах': 'sum'})
    value_of_products = [0,0,0,0]
    for j in new_df.index:
        a = catalog[j]
        for b in range(4):
            value_of_products[b] += (a[b]/100) * new_df.loc[j][0]
    values_by_days.append(value_of_products)

In [230]:
rounds = [[int(i) for i in b] for b in values_by_days]

In [231]:
for i in rounds:
    print(i[0],i[1],i[2],i[3])

2405 82 154 172
4963 203 307 302
5219 178 267 502
4873 241 204 537
5278 243 314 367
4451 190 188 497
4806 205 265 386
5738 264 195 720
1766 66 90 171

### Четвертое задание

In [14]:
df_sal = pd.read_excel(f'salaries/1.xlsx')
df_sal

  Расчетный лист                    Unnamed: 1 Unnamed: 2  Unnamed: 3
0            ФИО  Сидоров Михаил Александрович  Начислено     49259.0
1    Организация           ООО "Рога и копыта"        NaN         NaN

In [10]:
all_salaries = []
for i in range(1,1001):
    df_sal = pd.read_excel(f'salaries/{i}.xlsx')
    all_salaries.append((df_sal.loc[0][1],int(df_sal.loc[0][3])))

In [15]:
right_order = sorted(all_salaries, key=lambda x: x[0])

In [22]:
right_order[:5]

[('Александров Александр Александрович', 19279),
 ('Александров Александр Алексеевич', 111877),
 ('Александров Александр Васильевич', 121425),
 ('Александров Александр Дмитриевич', 47073),
 ('Александров Александр Иванович', 98888)]

In [21]:
with open('salaries.txt', 'w', encoding = 'UTF-8') as f:
    for i in right_order:
        f.write(f'{i[0]} {i[1]}\n')